body
{
	margin:100px 150px 150px 150px;
}
img.normal
{
	width:150px;
	position: relative;
    left: 50%;
	margin-left: -75px;	
}
img.background
{
	position:fixed;
	left:0px;
	top:0px;
	opacity:0.4;
	z-index:-1;
}

h1.frontpage
{
	text-align:center;
	text-decoration:underline;
	font-size:40px;
	font-family:Book Antiqua;
	color:black;
	letter-spacing:3px;
}

h2.frontpage
{
	text-align:center;
	color:blue;
	font-size:30px;
	font-family:Book Antiqua;
}

p.bio
{
	font-family:Book Antiqua;
	font-size:18px;
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	max-width:700px;
}

hr
{
	color:black;
	background-color:black;
	height: 2px;
}
h1.header
{
	font-size:30px;
	font-weight:bold;
	font-family:Book Antiqua;
}
p.header
{
	font-size:18px;
	font-family:Book Antiqua;
}
h2.section
{
	font-size:20px;
	font-weight:bold;
	font-family:Book Antiqua;
}
p.section
{
	font-size:18px;
	font-family:Book Antiqua;
}
ul
{
	font-family:Book Antiqua;
	max-width: 600px;
}
li:first-line
{
	font-size:18px;
	font-style:normal;
}
li
{
	font-size:16px;
	font-style:italic;
}




































